header {

  color: white;
  text-align: center;
  opacity: 1;
  height: 10%;
}

body {
  background-color: black;
  height:70%;
}

body.container {
  height: 100%;
}

.table-place {
  text-align: center;
}


table {
  align-items: center;
  color: white;
  border-color: lightgrey;
  text-align: center;

}

.col-sm-6 {
  margin-top: 3%;
  text-align: center;
  justify-content: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: lightgrey;
}

footer p {
  margin-top: 5%;
  text-align: center;
  color: white;
  font-size: 10px;
  height: 10%;
}
