header {

  color: white;
  text-align: center;
  opacity: 1;
  height: 10%;
}

body {
  background-color: black;
  height:70%;
}

body.container {
  height: 100%;
}

.col-sm-10 {
  text-align: center;
}

.prompt {
  color: yellow;
}

.prompt-answer {
  color: black;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
}

footer p {
  margin-top: 5%;
  text-align: center;
  color: white;
  font-size: 10px;
  height: 10%;
}
