<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/static/style.css">

<header>
    <h1> Hi, what do you want to do today? </h1>
</header>

<body>
  <div class = "index-background container">
    <div class = "row">
      <div class = "main-option rest col-sm-5">
        <p><a href = "/restaurants"> Search for restaurants </a></p>
      </div>
      <div class = "col-sm-2">
      </div>
      <div class = "main-option rec col-sm-5">
        <p><a href = "/recipecategory"> Search for recipes </a></p>
      </div>

    </div>
  </div>
</body>

<footer>
  <p> This is the final project for SI 507 (Programming II) Class at UMSI </p>
</footer>
