<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/static/style-2.css">

<header>
    <h1> How do you want to start? </h1>
</header>

<body>
  <div class = "index-background container">
    <div class = "row">
      <div class = "res-main-option use-keyword col-sm-5">
        <p><a href = "/searchrestaurant"> Search with new keyword </a></p>
      </div>
      <div class = "col-sm-2">
      </div>
      <div class = "res-main-option view-history col-sm-5">
        <p><a href = "/history"> See my search history </a></p>
      </div>

    </div>
  </div>
</body>

<footer>
  <p> This is the final project for SI 507 (Programming II) Class at UMSI </p>
</footer>
