<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/static/style-6.css">

<header>
  <h2> Reviews of the searched restaurants </h2>
</header>

<body>
{% for r in review %}

  <div class = "restaurant-name">
    <h3> {{r['name']}} </h3>
    <p> {{r["reviews"][0]}} </p>
    <p> {{r["reviews"][1]}} </p>
    <p> {{r["reviews"][2]}} </p>

  {% endfor %}


  </div>

</body>

<footer>
  <p> This is the final project for SI 507 (Programming II) Class at UMSI </p>
</footer>
